form {
  margin-top: 20px;
}

label {
  padding-right: 10px;
}

.form-error {
  color: #ff0000;
  padding: 8px 0 8px 0;
}

hr {
  padding: 0;
  margin: 4px;
}

.rocket:before {
  content: "\01F680";
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
