.form-wrapper {
  padding: 80px;
  background-color: #fff;
  border-radius: 5px;
}

label {
  padding-right: 10px;
}

.form-error {
  color: #ff0000;
  padding: 8px 0 8px 0;
}

hr {
  padding: 0;
  margin: 4px;
}
